<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex justify-center">
        <container class="max-w-screen-2xl min-h-screen w-screen h-fit flex flex-col px-12 py-10 space-y-2.5">
            <h1 class="text-3xl font-semibold">Product List</h1>
            <a href="/create" class="w-fit h-fit py-2 px-4 bg-teal-300 hover:bg-teal-400 text-lg text-white rounded-md">Add new</a>
            <table class="w-full text-sm text-left ">
                <thead class="text-xl font-medium border">
                    <tr>
                        <th scope="col" class="border px-6 py-3">
                            Product name
                        </th>
                        <th scope="col" class="border px-6 py-3">
                            Product Price
                        </th>
                        <th scope="col" class="border px-6 py-3 text-center">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% product.forEach(el => { %>
                        <tr class="bg-white border-b">
                            <th scope="row" class="border px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <%= el.name %>
                            </th>
                            <td class="border px-6 py-4">
                                <%= el.price %>
                            </td>
                            <td class="border px-6 py-4 space-x-2 text-center">
                                <a href="/edit/<%= el.id %>" class="w-fit h-fit py-2 px-4 bg-amber-300 hover:bg-amber-400 text-white rounded-md">
                                    Edit
                                </a>
                                <button 
                                    onClick= <%= 'del(' + el.id+ ')' %>
                                    class="w-fit h-fit py-2 px-4 bg-red-500 hover:bg-red-600 text-white rounded-md">
                                    Delete
                                </button>
                            </td>
                        </tr> 
                    <% }) %>
                </tbody>
            </table>
        </container>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function del(id) {
            const url = `/api/product/${id}`;
            console.log('DELETE request to:', url);
            axios.delete(url)
                .then((result) => {
                    alert(`Info Status: ${result.status}`);
                    window.location.reload();
                })
                .catch((err) => {
                    console.error('Error in DELETE request:', err);
                    alert(`Error: ${err.message}`);
                });
        }
    </script>
</html>