<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex justify-center">
        <container class="max-w-screen-2xl min-h-screen w-screen h-fit flex flex-col px-12 py-10 space-y-2.5">
            <h1 class="text-3xl font-semibold">Add Supplier</h1>
            <div class="w-full flex flex-col space-y-2">
                <p class="font-semibold text-lg">Company Name</p>
                <input type="text" id="company_name" class="h-12 w-full px-5 border rounded-md outline-none">
            </div>
            <div class="w-full flex flex-col space-y-2">
                <p class="font-semibold text-lg">Contact Name</p>
                <input type="text" id="contact_name" class="h-12 w-full px-5 border rounded-md outline-none">
            </div>
            <div class="w-full flex flex-col space-y-2">
                <p class="font-semibold text-lg">Email</p>
                <input type="text" id="email" class="h-12 w-full px-5 border rounded-md outline-none">
            </div>
            <div class="w-full flex flex-col space-y-2">
                <p class="font-semibold text-lg">Phone number</p>
                <input type="text" id="phone" class="h-12 w-full px-5 border rounded-md outline-none">
            </div>
            <div class="w-full flex flex-col space-y-2">
                <p class="font-semibold text-lg">Active</p>
                <input type="text" id="active" class="h-12 w-full px-5 border rounded-md outline-none">
            </div>
            <button onclick="add()" class="w-fit h-fit py-2 px-4 bg-teal-300 hover:bg-teal-400 text-lg text-white rounded-md">
                Save
            </button>
        </container>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function add() {
            const company_name = document.getElementById('company_name').value;
            const contact_name = document.getElementById('contact_name').value;
            const email = document.getElementById('email').value;
            const phone = document.getElementById('phone').value;
            const active = document.getElementById('active').value;

            axios({
                method: 'post',
                url: '/api/suppliers',
                data: {
                    company_name: company_name,
                    contact_name: contact_name,
                    email: email,
                    phone: phone,
                    active: active
                }
            }).then((result) => {
                window.location.href = '/';
            }).catch((err) => {
                alert(`Error: ${err.message}`);
            });
        }
    </script>
</html>